{
  "parser": "babel-eslint",  
  "extends": [
    "vue", 
    "airbnb-base"
    // "eslint:recommended",
  ],
  "plugins": [
    "vue",
    "html"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "linebreak-style": [2, "windows"]
  }
}
